
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #c3c0c0a3;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 7vw;
  font-weight: 700;
  line-height: 7vw;
}

h2 {
  font-size: 6vw;
  font-weight: 600;
  line-height: 7vw;
}

p {
  font-size: 2.5vw ;
  line-height: 4vw;
}

.button-container {
  text-align: right;
}

button {
  background-color: #de175b;
  color: white;
  padding: 1vw 1.5vw 1.3vw;
	cursor: pointer;
  border: none;
  font-size: 3vw;
}


footer svg {
  width: 3vw !important;
  height: auto;
  fill: #db2965;
  margin-right: 0.5vw;
}

a {
  color: #de175b;
  text-decoration: none;
}

/* Desktop */
@media only screen and (min-width: 900px) {

  button {
    font-size: 1vw;
    padding: 0.5vw 1vw 0.7vw;
  }

  h2 {
    font-size: 2vw;
    line-height: 3vw;
  }

  p {
    font-size: 1vw;
    line-height: 1.5vw;
  }


footer svg {
  width: 1vw !important;
  height: auto;
  fill: #db2965;
  margin-right: 0.5vw;
}

}